SUPABASE_ORGANIZATION_ID=ubhvmcshqalyehyupdbb
SUPABASE_PROJECT_NAME="Banco Central"
SUPABASE_PROJECT_REF=rtfdnrwcjwovpplmfthc
SUPABASE_URL=https://rtfdnrwcjwovpplmfthc.supabase.co
SUPABASE_DB_PASSWORD=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
